<form action="" class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="loginData(form)">
    <h1 class="text-center bg-dark text-white">Formd</h1>
<div class="form-group">
    <input type="text" name="text" id="text" class="form-control" placeholder="Product name" #text="ngModel" ngModel required>
<div *ngIf ="text.touched && text.invalid">
    <p class="alert alert-danger" *ngIf=text.errors.required >*this field is required</p>
</div>
</div>
<div class="form-group">
    <input type="number" name="num" id="num" placeholder="Product price" class="form-control" #number="ngModel" ngModel required>
    <div *ngIf ="number.touched && number.invalid">
        <p class="alert alert-danger" *ngIf=number.errors.required >*this field is required</p>
    </div>
</div>
<div class="form-group">
<input type="text" class="textbox" placeholder="Product description..." class="form-control" #text="ngModel" ngModel required>
<div *ngIf ="text.touched && text.invalid">
    <p class="alert alert-danger" *ngIf=text.errors.required >*this field is required</p>
</div>
</div>
<div class="form-group">
    <input type="text" placeholder="Product image url" class="form-control" #text="ngModel" ngModel required>
    <div *ngIf ="text.touched && text.invalid">
        <p class="alert alert-danger" *ngIf=text.errors.required >*this field is required</p>
    </div>
    </div>

<div class="form-group">
    <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Add Product</button>
</div>
</form>
