<div class="col-md-6 offset-3">
<h1 >Home Component</h1>
<div class="card" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2019/09/25/20/52/sun-4504661_960_720.jpg" [class.rounded-circle]="isActive" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>