<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/countries">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/property">Property Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pro">Event Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/binding">two-way Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ngfor">NGFOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ngswitch">NGSWITCH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/forma">Forma</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/formb">Formb</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/formc">Formc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/formd">Formd</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reactive">Reactive form</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/parent">Parent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/comment-details">Comment Details</a>
              </li>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/login">NGIF </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
            
          
        
      </ul>
      
    </div>
  </nav>